.wpcf7 {
    .wpcf7-response-output {
        color: white;
        text-align: center;
        font-size: bold;
        font-size: 0.8em;
    }

    span.wpcf7-not-valid-tip {
        color: white;
        font-size: bold;
        font-size: 0.8em;
    }
}