$font-family-default: "museo-sans",sans-serif;


/** --------------- Colours ----------- **/
$colour-off-black: #343C3E;
$colour-dark-grey: #58595B;
$colour-body-text: #7F7F7F;
$colour-dark-body-text: $colour-dark-grey;

$colour-brand-orange: #F98731;
$colour-brand-teal: #61C5B9;
$colour-brand-dark-teal: #26A1A8;
$colour-brand-pink: #E51F90;
$colour-brand-yellow: #ffcc3a;
$colour-brand-red: #ED135D;
$colour-brand-green: #00A891;

$colour-danger: #FF3030;
/** -------------./ Colours ----------- **/